<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de Vendas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href="javascript: history.go(-1)">Voltar página</a>
        <a href="/">Home</a>
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tr th:each="v : ${vendas}">
                <td th:text="${v.id}"> </td>
                <td th:text="${v.data}"> </td>
                <td th:text="${v.total()}"> </td>
            </tr>
        </table>

    </body>
</html>


