<head>
    <title>Lista de Pedidos</title>
</head>
<div th:insert="~{fragments/header :: modelheader}"></div>
<main class="">
    <h2 class="d-flex justify-content-center">Lista de Pedidos</h2>
    <div class="d-flex justify-content-center">
        <table class="table table-striped table-hover w-auto">
            <thead class="bg-secondary text-white-50">
                <tr>
                    <th scope="col">
                        <img src="/img/bookmark-plus.svg" width="100%" />
                    </th>
                    <th scope="col">ID</th>
                    <th scope="col">Data</th>
                    <th scope="col">Total</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="v : ${vendas}">
                    <th scope="row">-</th>
                    <td th:text="${v.id}"></td>
                    <td class="text" th:text="${v.getData()}"></td>
                    <td th:text="'R$ ' + ${v.total()}"></td>
                    <td>
                        <form th:action="@{/vendas/list/{id}(id=${v.id})}">
                            <button type="submit">Detalhes</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
<div th:insert="~{fragments/footer :: modelfooter}"></div>