<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
</head>

<body>
    <header>
        <div class="container">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/produtos/list" class="nav-link active" aria-current="page">Lista de Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/vendas/carrinho" class="nav-link">Carrinho</a>
                    </li>
                </ul>
            </header>
        </div>
    </header>
    <main class="">
        <h2 class="d-flex justify-content-center">Lista de Produtos</h2>
        <div class="d-flex justify-content-center">
            <table class="table table-striped table-hover w-auto">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">
                            <img src="/img/bookmark-plus.svg" width="100%" />
                        </th>
                        <th scope="col">Códico</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Comprar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p : ${produtos}">
                        <th scope="row">-</th>
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.descricao}"></td>
                        <td class="valor" th:text="${p.valor}"></td>
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" name="buttonAdd">
                                Adicionar ao Carrinho
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <form th:action="@{/vendas/addcarrinho}" th:object="${itemVenda}" method="post">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Quantidade a ser Adicionada
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            id="closeXButton"></button>
                    </div>
                    <div class="modal-body">

                        <a id="cod">
                            <b>Código: </b><input type="number" th:field="*{produto.id}" readonly>
                        </a>
                        <p name="valoresModal"></p>

                        <a id="nome">
                            <b>Nome: </b><input type="text" th:field="*{produto.descricao}" readonly>
                        </a>
                        <p name="valoresModal"></p>

                        <a id="preco">
                            <b>Preço(R$): </b><input type="number" th:field="*{produto.valor}" readonly>
                        </a>
                        <p name="valoresModal"></p>

                        <a>
                            <b>
                                <label>Quantidade: </label>
                            </b>
                            <input id="qtd" type="number" min="1" value="1" name="quantidade"
                                th:field="*{qtd}" /></a><br /><br />

                        <a id="subtotal">
                            <b>Subtotal: </b>
                        </a>
                        <p name="valoresModal"></p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeButton">
                            Fechar
                        </button>
                        <button type="submit" class="btn btn-primary" id="confirmButton">
                            Adicionar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>

<script src="/js/script.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>