<head>
    <title>Lista de Produtos</title>
</head>
<div th:insert="~{fragments/header :: modelheader}"></div>
<main class="">
    <h2 class="d-flex justify-content-center">Lista de Produtos</h2>
    <div class="d-flex justify-content-center">
        <table class="table table-striped w-auto text-center">
            <thead class="bg-secondary text-white-50">
                <tr>
                    <th scope="col">
                        <img src="/img/bookmark-plus.svg" alt="Coluna Guia" width="100%" />
                    </th>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Comprar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${produtos}">
                    <form th:action="@{/vendas/addcarrinho}" th:object="${itemVenda}" method="post">
                        <th class="align-middle" scope="row">-</th>
                        <td class="align-middle" th:text="${p.id}"></td>
                        <td class="align-middle" th:text="${p.descricao}"></td>
                        <td class="align-middle" th:text="'R$ ' + ${#numbers.formatDecimal(p.valor,1,2)}"></td>

                        <div th:if="${#authorization.expression('isAuthenticated()')}">
                            <input type="hidden" th:value="*{id}" th:name="itemVenda.id" />
                            <input type="hidden" th:value="${p.id}" th:name="produto.id" />

                            <td class="align-middle">
                                <input class="w-50 text-center" id="qtd" th:type="number" min="1" name="quantidade"
                                    th:field="*{qtd}" required />
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary" name="buttonAdd">
                                    Adicionar ao Carrinho
                                </button>
                            </td>
                        </div>
                        <div th:unless="${#authorization.expression('isAuthenticated()')}">
                            <td colspan="2">
                                <a href="/login">Faça Login</a>
                            </td>
                        </div>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
</main>
<div th:insert="~{fragments/footer :: modelfooter}"></div>