<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cadastro de Clientes</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
</head>
<div th:insert="~{fragments/header :: modelheader}"></div>
    <main class="">
        <h2 class="d-flex justify-content-center">Cadastro de Cliente</h2>
        <div class="d-flex justify-content-center">
            <form th:action="(${pessoaFisica.id == null || pessoaFisica.id == 0}) ? @{/fisica/save} : @{/fisica/update}" th:object="${pessoaFisica}" method="POST">
                <input type="hidden" th:field="*{id}">
                <input type="text" th:field="*{nome}" placeholder="Nome">
                <input type="text" th:field="*{cpf}" placeholder="CPF">
                <input type="submit" class="btn btn-dark" value="Enviar">
            </form>
        </div>
    </main>
<div th:insert="~{fragments/footer :: modelfooter}"></div>