<head>
    <title>Lista de Clientes</title>
</head>
<div th:insert="~{fragments/header :: modelheader}"></div>
    <main class="">
        <h2 class="d-flex justify-content-center">Lista de Clientes</h2>
        <div class="d-flex justify-content-center">
            <table class="table table-striped w-auto text-center">
                <thead class="bg-secondary text-white-50">
                    <tr>
                        <th scope="col">
                            <img src="/img/bookmark-plus.svg" width="100%" />
                        </th>
                        <th scope="col">Códico</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="c : ${pessoasFisicas}">
                        <th scope="row">-</th>
                        <td th:text="${c.id}"></td>
                        <td th:text="${c.Nome}"></td>
                        <td th:text="${c.cpf}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
<div th:insert="~{fragments/footer :: modelfooter}"></div>